<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/style.css" />
</head>

<body class="bg-slate-100 text-center p-10">
  <h1 class="text-3xl font-bold text-blue-600">
    <%= title %>
  </h1>
  <p class="mt-4 text-gray-700">Powered by Hono, Bun, EJS, and Tailwind</p>

</body>

</html>